

:root {
  --font-body: "Times New Roman", Times, serif;
  --font-headline: "Merriweather", serif;
  /* colors */
  --color-primary: #3c6e71; /* Caribbean Current */
  --color-secondary: #284b63; /* Indigo Dye */
  --color-background: #ffffff; /* White */
  --color-font: #353535; /* Jet */
  --color-highlight: #d9d9d9; /* Platinum */

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--color-font);
}
