
            <div>
                <p>Newsy<small> Your News Hub</small></p>
                <p>Bringing the latest news to you distraction free</p>
                <p>contact@newsy.com</p>
                <p>1-800-123-4567</p>
            </div>            
            <nav class="sociallinks">
                <a href="https://www.linkedin.com/" target="_blank" aria-label="Follow us on LinkedIn">
                    <img src="../images/logos/linkin.webp" alt="LinkedIn">
                </a>
                <a href="https://www.instagram.com/" target="_blank" aria-label="Follow us on Instagram">
                    <img src="../images/logos/instagram.svg" alt="Instagram">
                </a>
                <a href="https://www.youtube.com/" target="_blank" aria-label="Follow us on YouTube">
                    <img src="../images/logos/youtube.svg" alt="YouTube">
                </a>
            </nav>
            
            <div>
                <p><span id="currentyear"></span> WDD330 Class Project</p>
                <p>Trystan Jones</p>
                <p>&copy;2025 Newsy Final Project WDD 330 BYU-Idaho </p>
                
            </div>