<section class="header">
  <div class="container position-relative">
    <div class="d-flex align-items-center justify-content-between py-3">
      <!-- Logo -->
      <a href="/" class="header__logo">
        <img
          src="../images/logos/llamalogo.webp"
          alt="Logo"
          style="height: 40px"
        />
      </a>

      <!-- Spacer or Right-aligned content -->
      <div style="width: 40px"></div>
    </div>

    <!-- Navbar -->
    <div class="navbar">
      <a class="nav-link active text-dark" href="/">Home</a>
      <a class="nav-link text-dark" href="../articles/articles.html" >Articles</a>
      <a class="nav-link text-dark" href="/contact">Other</a>
    </div>
  </div>
</section>
