<section class="header">
  <div class="container">
    <div class="d-flex align-items-center py-3">
      <div>
        <h1>The Newsy</h1>
        <a href="/" class="header__logo">
          <img
            src="../images/logos/llamalogo.webp"
            alt="Logo"
            style="height: 40px"
          />
        </a>
      </div>
      <div style="width: 40px"></div>
    </div>

    <div class="navbar">
      <a class="nav-link active text-dark" href="/">Home</a>
      <a class="nav-link text-dark" href="../articles/articles.html"
        >Articles</a
      >
      <a class="nav-link text-dark" href="../other/other.html">Other</a>
    </div>
  </div>
</section>
