<section class="header">
  <div class="container position-relative">
    <div class="d-flex align-items-center justify-content-between py-3">
      <a href="/" class="header__logo">
        <img
          src="../images/logos/llamalogo.webp"
          alt="Logo"
          style="height: 40px"
        />
      </a>

      <div style="width: 40px"></div>
    </div>

    <ul class="navbar">
      <li class="nav-item">
        <a class="nav-link active text-dark" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/about">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/contact">Other</a>
      </li>
    </ul>
  </div>
</section>
